<ConnectionData>
	<SLDServer>srv-sap-hmlg01:40000</SLDServer>
	<Server>srv-sap-hmlg01</Server>
	<CompanyDB>SBOTESTE</CompanyDB>
	<UserName>igor.oliveira</UserName>
	<Password>3060</Password>
	<ServerDB>srv-sap-hmlg01</ServerDB>
	<UserDB>sbolago</UserDB>
	<PasswordDB>sbolago</PasswordDB>
</ConnectionData>